body {
  
}

.section {
    
}

.menu {
  
}

.menu-active {  }

ul li {
  
}

a {
 
}
  
a:hover {
 
}
  
h1.title {
    
}

h2.title {
    
}

div > p {
   
}

@media (min-width:320px) {
  body {
    font-size: 28px;
  }
}

@media (min-width:481px) {
  body {
    font-size: 32px;
  }
}

@media (min-width:641px) {
  body {
    font-size: 36px;
  }
}

@media (min-width:961px) {
  body {
    font-size: 40px;
  }
}

@media (min-width:1025px) {
  body {
    font-size: 44px;
  }
}

@media (min-width:1281px) {
  body {
    font-size: 48px;
  }
}